# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist
/.runtime-build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# generated browser runtime assets
/public/runtime/

# Atrac3os' files
/public/atrac3vm/system.cmi
/public/atrac3vm/kernel.bin
**/libatrac.so.1
**/*.o
**/*.so

/desktop-build/
/release/
/vendor/zadig/*.exe
